@mixin btn-default {
  font-size: $font-size-xs;
  color: $color-white;
  background: $color-blue-primary;
  text-decoration: none;
  padding: 10px 25px;
  border-radius: 5px;
  line-height: 1;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);

  &:hover {
    background: $color-blue-secondary;
  }
}

@mixin animateArrowRightToLeft {
  position: absolute;
  left: 85px;
  top: -130px;
  width: 350px;
  height: 250px;
  margin-left: 100px;
  transform: rotate(-8deg);
  @media only screen and (max-width: 599px) {
    top: -200px;
    left: -60px;
    transform: rotate(-25deg);
  }
}
