{% extends "base.html" %}

{% block content %}
<nav>
    <ul>
        <li>
            <a href="#">
                
            </a>
        </li>
        <li>About</li>
        <li>Experience</li>
        <li>Projects</li>
        <li>Resources</li>
        <li>Contact</li>
    </ul>
</nav>
<main class="main-content">
    <div class="full-width">
        <div class="page-width">
            <h1>Daniel Kersten: Web Developer</h1>
            <p>
                A basic Gulp boilerplate to get developing locally with a few
                helpful tools already set up.
            </p>
        </div>
    </div>
</main>
<section class="previous-work">
    <div class="page-width">
        <h2>Previous Work</h2>
    </div>
    <div class="full-width">
        <div data-scroll="in" class="prev-work-carousel group flickity-enabled is-draggable" data-flickity='{ "cellAlign": "left", "contain": true, "pageDots": false, "touchVerticalScroll": false }' tabindex="0">
            <div class="carousel-cell">
                <img src="https://images.unsplash.com/photo-1627478120842-46459b0ac31c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1353&q=80" alt="" />
                <h3><a href="">Project 1</h3></a>
                <p>Michael was having brunch with Sally Sitwell at a restaurant called Skip Church's Bistro. In addition to brunch, the restaurant was known for an item on the menu called the "Skip's Scramble", an omelet that contained everything on the menu. Do not order the Skip's Scramble.</p>
            </div>
            <div class="carousel-cell">
                <img src="https://images.unsplash.com/photo-1627478120842-46459b0ac31c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1353&q=80" alt="" />
                <h3><a href="">Project 2</h3></a>
                <p>Michael was having brunch with Sally Sitwell at a restaurant called Skip Church's Bistro. In addition to brunch, the restaurant was known for an item on the menu called the "Skip's Scramble", an omelet that contained everything on the menu. Do not order the Skip's Scramble.</p>
            </div>
            <div class="carousel-cell">
                <img src="https://images.unsplash.com/photo-1627478120842-46459b0ac31c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1353&q=80" alt="" />
                <h3><a href="">Project 3</h3></a>
                <p>Michael was having brunch with Sally Sitwell at a restaurant called Skip Church's Bistro. In addition to brunch, the restaurant was known for an item on the menu called the "Skip's Scramble", an omelet that contained everything on the menu. Do not order the Skip's Scramble.</p>
            </div>
            <div class="carousel-cell">
                <img src="https://images.unsplash.com/photo-1627478120842-46459b0ac31c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1353&q=80" alt="" />
                <h3><a href="">Project 4</h3></a>
                <p>Michael was having brunch with Sally Sitwell at a restaurant called Skip Church's Bistro. In addition to brunch, the restaurant was known for an item on the menu called the "Skip's Scramble", an omelet that contained everything on the menu. Do not order the Skip's Scramble.</p>
            </div>
            <div class="carousel-cell">
                <img src="https://images.unsplash.com/photo-1627478120842-46459b0ac31c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1353&q=80" alt="" />
                <h3><a href="">Project 5</h3></a>
                <p>Michael was having brunch with Sally Sitwell at a restaurant called Skip Church's Bistro. In addition to brunch, the restaurant was known for an item on the menu called the "Skip's Scramble", an omelet that contained everything on the menu. Do not order the Skip's Scramble.</p>
            </div>
          </div>
    </div>
</section>
{% endblock %}
