{% extends "base.html" %}

{% block content %}
<nav>
    <ul>
        <li>
            <a href="#">
                
            </a>
        </li>
        <li>About</li>
        <li>Experience</li>
        <li>Projects</li>
        <li>Resources</li>
        <li>Contact</li>
    </ul>
</nav>
<main class="main-content">
    <div class="full-width">
        <div class="page-width">
            <h1>Daniel Kersten: Web Developer</h1>
            <p>
                A basic Gulp boilerplate to get developing locally with a few
                helpful tools already set up.
            </p>
        </div>
    </div>
</main>
<section class="previous-work">
    <div class="page-width">
        <h2>Previous Work</h2>
    </div>
    <div class="full-width">
        <div class="page-width">
            <div data-scroll="in" class="prev-work-carousel group flickity-enabled is-draggable" data-flickity='{ "cellAlign": "left", "contain": true, "pageDots": false, "touchVerticalScroll": false }' tabindex="0">
                <div class="carousel-cell">
                    <img src="https://images.unsplash.com/photo-1627478120842-46459b0ac31c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1353&q=80" alt="Screenshot of the EZ Golf Scorecard UI" />
                    <h3><a target="_blank" href="https://ez-golf-scorecard.herokuapp.com/" aria-label="Visit EZ Golf Scorecard app (Opens in new tab)">EZ Golf Scorecard</h3></a>
                    <p>A full stack, mobile focused golf scorecard app. The front end is built with React and React Router and the back end is built with Ruby on Rails with a Postgresql database. User authentication and authorization is provided by Auth0 and the app is hosted on Heroku.</p>
                </div>
                <div class="carousel-cell">
                    <img src="https://images.unsplash.com/photo-1627478120842-46459b0ac31c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1353&q=80" alt="Screenshot of The Accumulator Game UI" />
                    <h3><a target="_blank" href="https://accumulator-game.netlify.app/" aria-label="Visit EZ Golf Scorecard app (Opens in new tab)">The Accumulator Game</h3></a>
                    <p>A a silly game built with Vue.js and SCSS (and hosted on Netlify) where people can earn money by expanding and upgrading their business. Users can also "buy" real world things and compare their wealth to real world people. I plan to continue to add features to this in the future.</p>
                </div>
                <div class="carousel-cell">
                    <img src="https://images.unsplash.com/photo-1627478120842-46459b0ac31c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1353&q=80" alt="Screenshot of the VestBest home page" />
                    <h3><a target="_blank" href="https://imgur.com/a/iK3wVCF" aria-label="See screenshots of the VestBest Home page (Opens in new tab)">VestBest</h3></a>
                    <p>The home page for a financial advisor client of my current employer. Built with WordPress. Designed and built by me. Screenshots from a variety of different screensizes.</p>
                </div>
                <div class="carousel-cell">
                    <img src="https://images.unsplash.com/photo-1627478120842-46459b0ac31c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1353&q=80" alt="Screenshot of the ProCheck Inspect home page" />
                    <h3><a target="_blank" href="https://imgur.com/a/jSietHB" aria-label="See screenshots of the ProCheck Inspect Home page (Opens in new tab)">ProCheck Inspect</h3></a>
                    <p>The home page for a home inspection client of my current employer. Designed and built by me. Screenshots from a variety of different screensizes.</p>
                </div>
                <div class="carousel-cell">
                    <img src="https://images.unsplash.com/photo-1627478120842-46459b0ac31c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1353&q=80" alt="Screenshot of the Fintech landing page" />
                    <h3><a target="_blank" href="#" aria-label="Visit Fintech Landing page (Opens in new tab)">Fintech Landing Page</h3></a>
                    <p>A landing page design for a Fintech start up. An exercise to practice responsive UI design built in HTML, SCSS, and Javascript (ES6).</p>
                </div>
                <div class="carousel-cell">
                    <img src="https://images.unsplash.com/photo-1627478120842-46459b0ac31c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1353&q=80" alt="Screenshot of the Social Media Dashboard" />
                    <h3><a target="_blank" href="#" aria-label="Visit the Social Media Dashboard (Opens in new tab)">Social Media Dashboard</h3></a>
                    <p>A social media dashboard design. An exercise to practice responsive UI design built in HTML, CSS, and Javascript (ES6).</p>
                </div>
                <div class="carousel-cell">
                    <img src="https://images.unsplash.com/photo-1627478120842-46459b0ac31c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1353&q=80" alt="Screenshot of the Randomly Generated Directory App" />
                    <h3><a target="_blank" href="#" aria-label="Visit the Randomly Generated Directory App (Opens in new tab)">Randomly Generated Directory</h3></a>
                    <p>Built in React, uses the Random User Generator API to display user information in a card layout.</p>
                </div>
                <div class="carousel-cell">
                    <img src="https://images.unsplash.com/photo-1627478120842-46459b0ac31c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1353&q=80" alt="Screenshot of the Team Collaboration App" />
                    <h3><a target="_blank" href="#" aria-label="Visit the Team Collaboration App (Opens in new tab)">Team Collaboration App</h3></a>
                    <p>A team project collaboration app to practice DOM manipulation and CSS Grid. Built in HTML, SCSS, and Javascript.</p>
                </div>
                <div class="carousel-cell">
                    <img src="https://images.unsplash.com/photo-1627478120842-46459b0ac31c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1353&q=80" alt="Screenshot of the Travel App" />
                    <h3><a target="_blank" href="#" aria-label="Visit the Travel App (Opens in new tab)">Travel App</h3></a>
                    <p>A modern travel web app built to strengthen my Flexbox layout skills.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
