nav .page-width {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;

  ul {
    display: flex;

    a {
      min-height: 60px;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      margin-left: 0.25rem;
      margin-right: 0.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1;
      text-decoration: none;
      color: $color-font-primary;
    }
  }

  .logo {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff !important;
    border-radius: $border-radius-md;
    color: $color-white;
    font-weight: 700;
    font-size: $h4-size;
    position: relative;
    z-index: 3;

    .logo-bg {
      position: absolute;
      content: "";
      width: 95px;
      height: 95px;
      left: -10px;
      top: -10px;
      background: red;
      z-index: -1;
    }
  }
}
