.flickity-slider {
}

.carousel-cell {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 100%;
  max-width: 325px;

  &:nth-of-type(1) {
    padding-left: 0;
  }

  img {
    width: 325px;
    height: 244px;
    box-shadow: $box-shadow-md;
  }

  h3 {
    max-width: 325px;
    width: 100%;
    margin-bottom: 1.5rem;
    line-height: 1.5;

    a {
      text-decoration: none;
      color: $color-font-primary;
    }
  }

  p {
    max-width: 325px;
    width: 100%;
    color: $color-font-secondary;
  }
}
